.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  gap: 1rem;
  background: var(--bg);
}

.phoneLink {
  color: var(--accient);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;

  &:active {
    color: var(--text-primary);
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 0 0.6rem;
  }
}
