.nav {
  display: flex;

  &__link {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    position: relative;
    text-transform: uppercase;
    transition: var(--transition);

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 0.1rem;
      background-color: var(--text-secondary);
      transition: var(--transition);
    }

    &:active {
      color: var(--text-secondary);
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}

[aria-current='page'] {
  color: var(--text-secondary);
}
