@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
  /* colors */
  --bg: #fafafa;
  --text-primary: #393e41;
  --text-secondary: #06aed5;
  --accient: #ed254e;

  /* text */
  --font-size: 16px;

  /* container size */
  --lg: 0 1rem;
  --sm: 0 0.6rem;

  /* transition */
  --transition: all 300ms ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  scroll-behavior: smooth;
}

main {
  margin-top: 3rem;
}

.container {
  width: 100%;
  padding: var(--lg);
}

@media only screen and (max-width: 500px) {
  .container {
    padding: var(--sm);
  }
}
